---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Abt from "../components/Abt.astro";
import Education from "../components/Education.astro";
import BentoProjects from "../components/BentoProjects.astro";
---

<Layout
	title="Portfolio - Francisco Ferreira Full Stack Developer"
	description="I'm a 20-year-old student currently studying Web Development at a higher technical school. As a young person, I firmly believe that we have endless opportunities to grow professionally and make a positive impact on the world"
>
	<main>
		<Abt />
		<Experience />
		<Education />
		<BentoProjects />
	</main>
</Layout>
