---
import BentoItem from "./BentoItem.astro";
---

<section class="w-full mx-auto lg:w-[880px] pt-10" id="projects">
    <h2
        class="text-white text-5xl font-bold flex flex-col gap-x-2 pb-8 gap-y-2"
    >
        Projects
    </h2>
</section>
<section
    class="w-full max-w-[880px] grid grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-3"
>
    <BentoItem />
</section>
