<section class="w-full mx-auto lg:w-[880px] py-10">
    <h2
        class="text-white text-5xl font-bold flex flex-col gap-x-2 pb-8 gap-y-2"
    >
        Education
    </h2>
    <div class="flex flex-col">
        <div class="flex justify-between items-start">
            <div class="flex flex-col">
                <h2 class="text-2xl font-bold text-blue-100/90">ILERNA FP</h2>
                <h3 class="text-xl font-bold text-yellow-100/90">
                    Web Application Development Degree
                </h3>
            </div>
            <h3>2021-2022</h3>
        </div>
        <p>
            Acquired solid knowledge in fundamental web programming technologies
            such as HTML, CSS, and JavaScript.
        </p>
    </div>
    <div class="flex flex-col mt-10">
        <div class="flex justify-between items-start">
            <div class="flex flex-col">
                <h2 class="text-2xl font-bold text-blue-100/90">Institut Dr Puigvert</h2>
                <h3 class="text-xl font-bold text-yellow-100/90">
                    Science and Technology High School
                </h3>
            </div>
            <h3>2019-2021</h3>
        </div>
        <p>
            Acquired solid knowledge in fundamental web programming technologies
            such as HTML, CSS, and JavaScript.
        </p>
    </div>
</section>
