<section class="w-full mx-auto lg:w-[880px] py-10" id="experience">
    <section>
        <h2
            class="text-white text-5xl font-bold flex flex-col gap-x-2 pb-8 gap-y-2"
        >
            Work Experience
        </h2>
        <div class="ml-0 md:ml-12 lg:w-3/3 sticky">
            <div class="container mx-auto w-full h-full">
                <div class="relative wrap overflow-hidden p-10 h-full">
                    <div
                        class="border-2-2 border-yellow-555 absolute h-full border"
                        style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"
                    >
                    </div>
                    <div
                        class="border-2-2 border-yellow-555 absolute h-full border"
                        style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"
                    >
                    </div>
                    <div
                        class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
                    >
                        <div class="order-1 w-5/12"></div>
                        <div class="order-1 w-5/12 px-1 py-4 text-right">
                            <p class="mb-3 text-base text-yellow-300">
                                8 May, 2023
                            </p>
                            <h4
                                class="mb-3 font-bold text-lg md:text-xl flex flex-col lg:flex-row justify-end items-center gap-2"
                            >
                                <span
                                    class="bg-green-200/90 text-xs font-medium me-1 px-2.5 py-0.5 rounded dark:bg-green-900/90 text-black hover:bg-green-100/90 flex-row gap-2 items-center w-16 hidden md:flex"
                                    >Current</span
                                ><span class="text-blue-100/90"
                                    >Backend Developer</span
                                >
                            </h4>
                            <h5 class="mb-3 font-bold text-sm md:text-lg">
                                <span class="text-yellow-100/90"
                                    >Lifull Connect
                                </span>
                            </h5>
                            <p
                                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
                            >
                                Skilled in Agile methodologies, CleanCode, and
                                technologies like Kotlin, Golang, and PHP.
                                Experienced in project management, data
                                analysis, and advanced Gitlab usage.
                            </p>
                        </div>
                    </div>
                    <div
                        class="mb-8 flex justify-between items-center w-full right-timeline"
                    >
                        <div class="order-1 w-5/12"></div>
                        <div class="order-1 w-5/12 px-1 py-4 text-left">
                            <p class="mb-3 text-base text-yellow-300">
                                16 Feb, 2023
                            </p>
                            <h4 class="mb-3 font-bold text-lg md:text-xl">
                                <span class="text-blue-100/90"
                                    >Full Stack Developer</span
                                >
                            </h4>
                            <h5 class="mb-3 font-bold text-sm md:text-xl">
                                <span class="text-yellow-100/90"
                                    >Fundación Esplai Bootcamp
                                </span>
                            </h5>
                            <p
                                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
                            >
                                Versatile in web technologies, adept in HTML,
                                CSS, React Js for frontend, and Node.js,
                                Express, and MySQL for backend. Proven in
                                integrating frontend and backend for improved
                                functionality and user experience.
                            </p>
                        </div>
                    </div>
                </div>
                <img class="mx-auto -mt-36 md:-mt-36" src="rocket.png" />
            </div>
        </div>
    </section>
</section>
