---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import "@fontsource/ubuntu-mono";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: "Ubuntu Mono", sans-serif;
		color-scheme: light dark;
	}
	body {
		background: linear-gradient(
			109.6deg,
			rgb(36, 45, 57) 11.2%,
			rgb(16, 37, 60) 51.2%,
			rgb(0, 0, 0) 98.6%
		);
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100vw;
	}
</style>
