---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: "Onest Variable", sans-serif;
		color-scheme: light dark;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
</style>
